/*
Colors
White: #FFFFFF
Warm Gold Yellow: #F6CA81
Dark Turquoise Green: #2D7A76
Blue: # 205E84
Dark Grey: #131313
*/

/* fonts and typography */

body {

  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;  /* Sets the font size to 16 */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #131313;

}

h1,
h2,
h3, {

  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
}

h2 {
  font-size: 2.25em;
  font-weight: 400;
}

h3 {
  font-size: 2em;
  font-weight: 300;
}

/* imagery */

img {
  width: 100%;
}

/* buttons and links */

a:visited {
  color: #F6CA81;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #131313;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #2D7A76;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2D7A76;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #2D7A76;
  text-transform: uppercase;
  border: 2px solid #2D7A76;
}

.button.contact:hover {
  background-color: #2D7A76;
  color: #ffffff;
}

.text-align-center {
  text-align: center;
}

.social-icons {
  list-style: none;
  padding-left: 0;
}

.social-icons li {
  display: inline-block;
  padding-right: 5px;
}

.social-profile-link, .social-profile-link:hover {
  text-decoration: none;
}

.social-icon {
  font-size: 3em; 
  color: #2D7A76;
}