/*
Colors
White: #FFFFFF
Warm Gold Yellow: #F6CA81
Dark Turquoise Green: #2D7A76
Blue: # 205E84
Dark Grey: #131313
*/

/* fonts and typography */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.hero-image {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.center {
text-align: center;
margin: 10px;
}

@media only screen and (min-width: 640px){
  header {
   text-align: unset;
   padding: 20px 0 13px;
 }
  nav {
   width: auto;
   margin-top: 4px;
 }
 .hero-image {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
  .project1 {
  padding-bottom: 20px;
}
  .textproject1 {
  height: 100px;
  margin: 15px;
  padding-bottom: 20px;
}
  .center {
  text-align: center;
}
  .berlin-illustration {
  padding-bottom: 20px;
}
}

@media only screen and (min-width: 1024px){
  /* Create thwo columns that floats next to each other */

  .pagewrapper {
    margin: 15px;
  }
  .row {
    display: flex;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    gap: 10px;
    justify-content: space-between;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    gap: 20px;
    padding: 15px;
    margin: 15px
  }
  .project1 {
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
  .center {
    text-align: center;
  }
  .hero-image {
    min-width: 300px;
    padding: 30px 10px 10px 0px;
    margin: 10px;
  }
  .about-info {
    padding: 30px;
    margin: 30px;
    text-align: left;
    max-width: 750px;
  }
  .berlin-illustration {
    padding-bottom: 20px;
    display: block;
    margin: 0 auto;
  }
}

/* Layout styling */
/* Body styling */

header {
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 5px 15px 5px; /* Adds 10px top, 5px right, 15px bottom, 5px left */
    margin: 0 auto;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
    -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
    border-bottom: 5px solid #2D7A76;
  }

nav {
  height: 2rem;
  padding-top: .5;
  padding-bottom: .5;
  margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding-left: 1.75rem;
    display: flex;
    justify-content: center;
  }

nav li {
  float: left;
  padding-right: 1.75rem
}

main {
  clear: left;
  margin-top: 1rem;
  }

body {
  background-color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;  /* Sets the font size to 16 */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #131313;
  }

.container {
  padding: 0 15px;
}

h1,
h2,
h3, {

  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
  text-align: center;
  }

h2 {
  font-size: 2.25em;
  font-weight: 400;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: 300;
  padding: 30px 5px 15px 5px; /* Adds 10px top, 5px right, 15px bottom, 5px left */
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

svg {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.about-info {
  padding: 30px;
  margin: 30px;
  text-align: left;
  max-width: 750px;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/* buttons and links */

a:visited {
  color: #2D7A76;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #2D7A76;
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #2D7A76;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2D7A76;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.9; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
  background-color: #2D7A76;
  color: #ffffff;
}

.button.contact {
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
}

.button.contact:hover {
  background-color: #ffffff;
  color: #2D7A76;
}

.text-align-center {
  text-align: center;
}

.social-icons {
  list-style: none;
  padding-left: 0;
}

.social-icons li {
  display: inline-block;
  padding-right: 5px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.social-profile-link, .social-profile-link:hover {
  text-decoration: none;
}

.social-icon {
  font-size: 3em;
  color: #ffffff;
  transition-duration: 0.2s;
  transition-property: opacity;
}

footer {
  clear: both;
  margin-top: 4rem;
  color: #ffffff;
  background-color: #2D7A76;
  padding: 10px 5px 15px 5px; /* Adds 10px top, 5px right, 15px bottom, 5px left */
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  border-top: 1px solid #2D7A76;
  font-size: 11px;
  text-align: center;
  vertical-align: bottom;
}
